body {
    max-width: 100%;
    margin: 0 auto;
    background-color: aquamarine;
    font-family: "Inter";
}

header {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 15px 100px 15px 100px;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    transition: 0.4s;
}

header nav a:hover {
    color: #248a4e;
}

header img {
    width: 120px;
    height: 50px;
}

header button {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    color: white;
    border: none;
    transition: 0.4s;
}

header button:hover {
    background-color: #248a4e;
}

.banner {
    color: white;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner-content {
    padding: 100px 100px;
    padding-bottom: 120px;
    /* border: 2px solid black; */
    width: 50%;
    align-items: center;
    font-size: larger;
    margin: 0 auto;
}

.banner-content h1{
    font-size: 60px;
}

.banner-content p {
    font-size: medium;
}

.early-access {
    /* display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center; */
    color: #248a4e;
    font-size: 12px;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
}

/* .early-access p{
    border: 2px solid black;
} */

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner-arrow-btn {
    color: white;
    background-color: #2bad61;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    transition: 0.4s ease;
}

.banner-arrow-btn:hover {
    background-color: #1c6d3e;
    scale: 1.05;
}

.banner-play-btn {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.4s ease;
}

.banner-play-btn:hover {
    scale: 1.05;
}

.bi-play {
    font-size: 23px;
}