body {
    max-width: 90%;
    margin: 0 auto;
    background-color: aquamarine;
}

header {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 16px 120px 16px 120px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
}

header nav a:hover {
    color: #248a4e;
}

header img {
    width: 139px;
    height: 60px;
}

header button {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    color: white;
    border: none;
}

header button:hover {
    background-color: #248a4e;
}