* {
    font-family: "Inter";
}

body {
    max-width: 100%;
    margin: 0 auto;
    /* background-color: aquamarine; */
}

header {
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
    padding: 15px 100px 15px 100px;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: left;
    transition: 0.4s;
}

header nav a:hover {
    color: #248a4e;
}

header img {
    width: 120px;
    height: 50px;
}

header button {
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border-radius: 4px;
    color: white;
    border: none;
    transition: 0.4s;
}

header button:hover {
    background-color: #248a4e;
}

.banner {
    color: white;
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.banner-content {
    padding: 100px 100px;
    padding-bottom: 120px;
    /* border: 2px solid black; */
    width: 50%;
    align-items: center;
    font-size: larger;
    margin: 0 auto;
}

.banner-content h1 {
    font-size: 60px;
}

.banner-content p {
    font-size: medium;
}

.early-access {
    /* display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center; */
    color: #248a4e;
    font-size: 12px;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 50px;
}

/* .early-access p{
    border: 2px solid black;
} */

.banner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.banner-arrow-btn {
    color: white;
    background-color: #2bad61;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    transition: 0.4s ease;
}

.banner-arrow-btn:hover {
    background-color: #1c6d3e;
    scale: 1.05;
}

.banner-play-btn {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.4s ease;
}

.banner-play-btn:hover {
    scale: 1.05;
}

.bi-play {
    font-size: 23px;
}

.notes {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    background-color: #e4e4e4;
    padding: 20px 30px 40px 30px;
}

.notes p {
    padding-bottom: 40px;
}

.note-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.note-card {
    /* border: 2px solid black; */
    background-color: white;
    width: 250px;
    height: 200px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.note-card img {
    background-color: #f85455;
    padding: 15px;
    border-radius: 50%;
}

.second-brain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.knowledge-img {
    /* border: 2px solid black; */
    scale: 0.7;
}

.knowledge-content {
    /* border: 2px solid black; */
    height: fit-content;
    width: 35%;
    padding: 20px 30px 20px 30px;
}

.knowledge-content ul {
    padding-top: 20px;
    list-style: none;
}

.check-mark {
    list-style-image: url("/assets/CheckCircle.png");
}

.ready-to-think-container{
    margin: 30px;
}

.ready-to-think {
    width: 70%;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.early-access-btn {
    color: white;
    background-color: #2bad61;
    border: none;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    transition: 0.4s ease;
}

.early-access-btn:hover{
    background-color: #2c9156;
    scale: 1.1;
}
